# dependencies
poetry.lock
yarn-error.log
.env.*
!.env.example
node_modules/

# directories
.vscode/
.venv/
coverage/
build/
dist/
__pycache__/
logs/

# files
test-report.xml
*.zip
.scannerwork/
package-lock.json

# other
.DS_Store

# Docs
index.yaml
*collections.json
